
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row banner">
			<div>
				<img src="/image/cnb.png"  />
			</div>
		</div>

		<hr />

		<div class="row">
			<!-- 
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<a th:href="@{/bookshelf}"><img src="/image/bestseller.png" class="img-responsive" /></a>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<a th:href="@{/hours}"><img src="/image/hours.png" class="img-responsive" /></a>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<a th:href="@{/faq}"><img src="/image/faq.png" class="img-responsive" /></a>
					</div>
				</div>
			</div>
			 -->
			 <a><img src="/image/cnb-about.png" class="img-responsive" /></a>
		</div>

		<hr />

		<div class="row">
			<div>
				<img src="/image/partner.png"  />
			</div>
		</div>

	</div>
	<!-- end of container -->

<div th:replace="common/header :: footer"/>
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
